<!DOCTYPE html>
<html lang = "en-US">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="/Images/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/styleSheet.css">

<head>
  <title>Silver Theatre Login Page</title>
</head>

<body>
  <div class="topnav">
    <a href="/">
      <img src="/Images/logo.png" alt="Silver Theatre">
    </a>
    <h2>Sign In</h2>
  </div>

  <div class="login_wrapper">
    <h1>Welcome</h1><br>
    <div class="error-message" th:if="${param.error}">
      Invalid username and password.
    </div>
    <br>
    <div class="logout-message" th:if="${param.logout}">
      You have been logged out.
      <br>
      <a href="/">Go to Home page</a>
    </div>
    <br>
    <form th:action="@{/login}" method="post">
      <div><label><input type="text" name="username" placeholder="Username"/> </label></div>
      <div><label><input type="password" name="password" placeholder="Password"/> </label></div>
      <div><input type="submit" value="Sign in"/></div>
    </form> <br>
  <br>

  <div class="not-member">
    Not a member? <a onclick="window.location.href = '/register';">Register Now</a>
  </div>

</div>
</body>
</html>