<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>

    <link rel="stylesheet" type="text/css" href="/css/styleSheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="topnav">
    <a href="/">
        <img src="/Images/logo.png" alt="Silver Theatre">
    </a>
    <h2>Summary</h2>
</div>
<div class="login_wrapper">
    <h1>Thank You</h1><br><br>
    <!--<p>Welcome back you've <br> been missed!</p>-->
    <p style="margin: 0px 30px 0px 30px;">Your payment has been completed and your movie reservation has been made.</p><br><br>
    <p style="margin: 0px 30px 0px 30px;">You can manage your bookings by clicking on the recent bookings tab in the menu.</p><br>
    <br>
    <button style="width: 126px;" onclick="window.location.href='/'">Go to Home</button>
    <br>
    <br>
</div>
</body>
</html>
